html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sortable-ghost {
  background-color: #c8ebfb;
}

.sortable-item {
  background-color: #CCCCCC;
  padding: 1rem;
  border: 1px solid #000000;
}

.sortable-item.sortable-ghost {
  background-color: #c8ebfb;
}